/**
 * Name: blue.css
 *
 * The default color scheme for the template
 *
 */
 
 /* ==========================================================================
   #Typography
   ========================================================================== */
	
	body {
		background-color: #fff;
		color: #5e5e5e;	
	}
	
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {
		color: #5e5e5e;
	}
	
	abbr[title] {  
		border-bottom: 1px dotted #999; 
	}
	
	blockquote span { 
		color: #999999;  
	}

	hr { 
		border: solid #efefef; 
	}
	
	code { 
		border: 1px solid #e1e1e8;
		background-color: #f7f7f7;  
		color: #d14;  
	}
	
	pre { 
		border: 1px solid #e1e1e8;   
		background-color: #f7f7f7; 
	}
	
	.hr { 
		border-top: 1px solid #efefef;  
	}
	
	.text-highlight { color: #6eaad2; }
	
	.mute{ color: #aaa; }
	
/* #Links
   ========================================================================== */
	
	a, 
	a:visited { 
		color: #6eaad2; 
	}
	
	a:active {
 		background: transparent;
	}	

/* #Tables
   ========================================================================== */

	table { 
		background-color: transparent; 
	}

	table th, 
	table td {
		border-top: 1px solid #acacac;
	}
	
	table th { 
		background-color: #6eaad2;
		color: #fff;
	}
	
/* #Forms
   ========================================================================== */

	label span { color: #ff0000; }
	
	input,
	textarea,
	select {
		border: 1px solid #acacac;
		background: transparent;
		color: #666;		 
	}
	
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	textarea:focus {
		border-color: #888;
	}
	
	select:focus {
	  outline: thin dotted #333;
	}
	
	input:-moz-placeholder,
	textarea:-moz-placeholder {
		color: #ccc;
	}
	
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #ccc;
	}
	
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #ccc;
	}

/* #Misc
   ========================================================================== */
   
   .javascript-required {
		background-color: #f00;
		color: #fff;
	}

/* ==========================================================================
   #Accordions
   ========================================================================== */
   
	.accordion-item-toggle,
	.toggle-item-toggle {
		border: 1px solid #cdcdcd;
		color: #5e5e5e;
	}
	
	a.accordion-item-toggle,
	a.toggle-item-toggle { color: #5e5e5e; }
	
	.accordion-item-toggle:after,
	.toggle-item-toggle:after {
		color: #898989;
	}
	
	.accordion-item-toggle.active:after,
	.toggle-item-toggle.active:after {
		color: #fff; 
	}
	
	.accordion-item-toggle:hover:after,
	.toggle-item-toggle:hover:after { color: #fff; }
	
	.accordion-item-toggle:hover,
	.accordion-item-toggle.active,
	.toggle-item-toggle:hover,
	.toggle-item-toggle.active {
		border-color: #6eaad2;
		background-color: #6eaad2;
		color: #fff;
	}
	
	.accordion.alt .accordion-item-toggle:hover,
	.accordion.alt .accordion-item-toggle.active,
	.toggle.alt .toggle-item-toggle:hover,
	.toggle.alt .toggle-item-toggle.active {
		border-bottom-color: #cdcdcd;
		background-color: transparent;
		color: #5e5e5e;
	}
	
	.accordion.alt .accordion-item-toggle:after,
	.toggle.alt .toggle-item-toggle:after {
		color: #6eaad2;
	}
	
	.accordion.alt .accordion-item-toggle.active:after,
	.toggle.alt .toggle-item-toggle.active:after {
		color: #6eaad2;
	}

/* ==========================================================================
   #Alerts
   ========================================================================== */

	.alert {
		border: 1px solid #c2c2c2;
		color: #818181;
	}
	
	.alert i {
		color: #6eaad2;
	}
	
	.alert.info {
		border: 1px solid #50364b;
		background: #50364b;
		background: linear-gradient(90deg, #50364b, #7e588b, #17103a);
		background: -webkit-linear-gradient(90deg, #50364b, #7e588b, #17103a);
		color: #fff;
	}
	
	.alert.info i { color: #fff; }
	
	.alert.success {
		border: 1px solid #9a6e7f;
		background: #9a6e7f;
		background: linear-gradient(90deg, #9a6e7f, #c99097, #b97d89);
		background: -webkit-linear-gradient(90deg, #9a6e7f, #c99097, #b97d89);
		color: #fff;
	}
	
	.alert.success i { color: #fff; }
	
	.alert.error {
		border: 1px solid #6eaad2;
		background-color: #6eaad2;
		color: #fff;
	}
	
	.alert.error i { color: #fff; }
	
	.alert.warning {
		border: 1px solid #5a2a42;
		background: #5a2a42;
		background: linear-gradient(90deg, #5a2a42, #8a6382, #a86a83);
		background: -webkit-linear-gradient(90deg, #5a2a42, #8a6382, #a86a83);
		color: #fff;
	}
	
	.alert.warning i { color: #fff; }
   
/* ==========================================================================
   #Back to top
   ========================================================================== */

	#back-to-top {
		background-color: #6eaad2;
		color: #fafafa;
	}
	
	#back-to-top:hover i {
		color: #fff;
	}

/* ==========================================================================
   #Buttons
   ========================================================================== */

	.btn { 
		border: 1px solid #acacac;
		color: #5e5e5e;		
	}
	
	a.btn { color: #5e5e5e; }
	
	.btn i,
	.btn-large i {
		color: #6eaad2;
	}
	
	.btn:hover {
		border-color: #6eaad2; 
		background: #6eaad2; 
		color: #fff; 
	}
	
	.btn:hover i,
	.btn-large:hover i { color: #fff; }
	
	/* Alternative Button */
	
	.btn.alt {
		border-color: #6eaad2;
		background-color: #6eaad2;
		color: #fff;
	}
	
	.btn.alt i,
	.btn-large.alt i { color: #fff; }
	
	.btn.alt:hover {
		border-color: #9a6e7f;
		background-color: #9a6e7f; 
	}
	
/* ==========================================================================
   #Callout Boxes
   ========================================================================== */

	.callout-box {
		background-color: #333;
		color: #fff;
	}
	
	.callout-box,
	.callout-box h1,
	.callout-box h2,
	.callout-box h3,
	.callout-box h4,
	.callout-box h5,
	.callout-box h6,
	.callout-box a { color: #fff; }
	
	.callout-box .btn { border-color: #fff; }
	 
	.callout-box.bg-img {
		color: #fff;
	}
	 
	.callout-box.bg-pattern {	
		color: #fff;
	}
	
	.callout-box.bordered {
		border: 1px solid #efefef;
		background-color: #f5f5f5;
	}

/* ==========================================================================
   #Custom Lists
   ========================================================================== */
	
	ul.check li:before,
	ul.fill-circle li:before,
	ul.arrow li:before { 
		color: #6eaad2;
	}

/* ==========================================================================
   #Dividers
   ========================================================================== */
	
	.divider.single-line { border-top: 1px solid #aeaeae; }
	
	.divider.double-line { border-top: 4px double #aeaeae; }
	
	.divider.single-dotted {
		 background: url(../../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		background: url(../../images/bg-double-dotted.gif) repeat-x top left; 
	}	

/* ==========================================================================
   #Fullwidth Section
   ========================================================================== */
	 
   .fullwidth-section {
		background-color: #ebebeb;		
	}
	
	#bg-1 {
		background-image: url(../../../_content/backgrounds/1920x300-1.jpg);
	}
	
	#bg-2 {
		background-image: url(../../../_content/backgrounds/1920x500.jpg);
	}
	
	#bg-3 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	#bg-3 a { color: #5e5e5e; }
	
	#bg-4 {
		background-color: #6eaad2; 
	}
	
	#bg-4 .btn:hover { background-color: #9a6e7f; }
	
	#bg-5 {
		background-image: url(../../../_content/backgrounds/1920x1000-2.jpg);
	}
	
	#bg-6 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	#bg-7 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	#bg-8 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	#bg-9 {
		background-image: url(../../../_content/backgrounds/1920x300-1.jpg); 
	}
	
	#bg-10 {
		border-top: 1px solid #bb7278;
		border-bottom: 1px solid #bb7278;
		background-color: #6eaad2; 
	}
	
	#bg-11 {
		background: #5e5e5e;
		color: #fff;
	}
	
	#bg-11 h1 { 
		color: #fff;
	} 
	
	#bg-11 h2 {
		color: #fff;
	}
	
	#bg-12 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	#bg-13 {
		background-image: url(../../../_content/backgrounds/1920x300-2.jpg); 
	}
	
	#bg-14 {
		background-image: url(../../../_content/backgrounds/1920x1000-3.jpg); 
		color: #5e5e5e;
	}
	
	#bg-15 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	.parallax,
	.parallax h1,
	.parallax h2,
	.parallax h3,
	.parallax h4,
	.parallax h5,
	.parallax h6,
	.parallax .accordion-item-toggle,
	.parallax .toggle-item-toggle,
	.parallax .accordion-item-toggle:after,
	.parallax .toggle-item-toggle:after,
	.parallax .accordion.alt .accordion-item-toggle:hover,
	.parallax .accordion.alt .accordion-item-toggle.active,
	.parallax .toggle.alt .toggle-item-toggle:hover,
	.parallax .toggle.alt .toggle-item-toggle.active,
	.parallax .btn,
	.parallax ul.check li:before,
	.parallax ul.fill-circle li:before,
	.parallax ul.arrow li:before,
	.parallax .icon-box-1 h2 a,
	.parallax .icon-box-1 h3 a,
	.parallax .icon-box-2 h3 a,
	.parallax .icon-box-3 h3 a,
	.parallax .icon-box-5 h3 a,
	.parallax .icon-box-1 i,
	.parallax .icon-box-2 i,
	.parallax .icon-box-3 i,
	.parallax .icon-box-4 i,
	.parallax .icon-box-5 i,
	.parallax .milestone .milestone-description,
	.parallax .milestone i,
	.parallax .milestone .milestone-content,
	.parallax .vertical-process-builder h3 a,
	.parallax a.social-icon i,
	.parallax .vertical-tabs-container .tabs-menu li a,
	.parallax .tabs-container .tabs-menu li a,
	.parallax .testimonial-author h3,
	.fullwidth-section .testimonial-author h3,
	.parallax .testimonial blockquote h3,
	.fullwidth-section .testimonial blockquote h3,
	.parallax .ewf_widget_twitter a { color: #fff; }
	
	.parallax .icon-box-5,
	.parallax .icon-box-5:hover {
		border-color: #fff;
		background-color: rgba(255, 255, 255, 0.25); 
	}
	
	.parallax .testimonial-author,
	.fullwidth-section .testimonial-author {
		padding: 60px 40px 30px 40px; 
		background: rgba(255, 255, 255, 0.3);
		color: #fff;
	}
	
	.parallax .milestone.alt,
	.parallax .bordered,
	.fullwidth-section .bordered { border-color: #fff; }
	
	.fullwidth-section .callout-box {
		background-color: transparent;
	}

	@media (max-width: 767px) {
		
		.parallax .tabs-container .tabs-menu li.active a { border-bottom: 1px solid #6eaad2; }
		
	}
   
/* ==========================================================================
   #Google Maps
   ========================================================================== */
	
	.map-content {
		background-color: #fff;
	}

/* ==========================================================================
   #Icon Boxes
   ========================================================================== */
/* Icon Box 1
   ========================================================================== */
		
	.icon-box-1 > i { 
		color: #6eaad2; 
	}
	
	.icon-box-1 h2 a,
	.icon-box-1 h3 a { 
		color: #5e5e5e;
	}
	
	.icon-box-1 h2 a:hover,
	.icon-box-1 h3 a:hover {
		color: #6eaad2;
	}

/* Icon Box 2
   ========================================================================== */
		
	.icon-box-2 > i { 
		color: #6eaad2; 
	}
	
	.icon-box-2 > .icon-box-image .overlay {
		border: 10px solid rgba(255, 255, 255, 0.5);
	} 
	
	.icon-box-2 h3 a { 
		color: #5e5e5e;
	}
	
	.icon-box-2 h3 a:hover {
		color: #6eaad2;
	}

/* Icon Box 3
   ========================================================================== */
		
	.icon-box-3 > i { 
		color: #6eaad2; 
	} 
	
	.icon-box-3 h3 a { 
		color: #5e5e5e;
	}
	
	.icon-box-3 h3 a:hover {
		color: #6eaad2;
	}

/* Icon Box 4
   ========================================================================== */

/* Icon Box 5
   ========================================================================== */
   
	.icon-box-5 { 
		border: 1px solid #a1a1a1;
	}
		
	.icon-box-5 > i { 
		color: #6eaad2; 
	}
	
	.icon-box-5 h3 a { 
		color: #5e5e5e;
	}
	
	.icon-box-5:hover {
		background-color: #6eaad2;
		border-color: #6eaad2;
		color: #fff;
	}
	
	.icon-box-5:hover  i,
	.icon-box-5:hover h3 a { color: #fff; }

/* ==========================================================================
   #Milestones
   ========================================================================== */
	
	.milestone i {
		color: #6eaad2;
	}
	
	.milestone .milestone-content {
		color: #6eaad2;
	}
	
	.milestone .milestone-description { 
		color: #5e5e5e;
	}
	
	.milestone.alt {
		border: 1px solid #a1a1a1;
	}
	
	.milestone.alt-2 .overlay {
		background: url(../../../_content/index/milestone-slider/overlay.png) no-repeat center center; 
	}
	
	.milestone.alt-2:hover .overlay { background-image: url(../../../_content/index/milestone-slider/overlay-hover.png); }
	
	.milestone.alt-2 .milestone-content {
		color: #fff;
	}
	
	.milestone.alt-2 .milestone-description {
		color: #fff;
	}

/* ==========================================================================
   #Our Process
   ========================================================================== */
		
	.horizontal-process-builder ul:before {
		border-top: 1px solid #bfbfbf;
	}
	
	.horizontal-process-builder ul li i,
	.horizontal-process-builder ul li span > span {
		border: 1px solid #cfcfcf;
		color: #a5a5a5;
	}
	
	.horizontal-process-builder ul li span { 
		border: 1px solid #bfbfbf;
		outline: 10px solid #fff; 
		background-color: #fff;
	}
	
	.horizontal-process-builder ul li:hover span { 
		background: #6eaad2; 
	}
	
	.horizontal-process-builder ul li:hover span > span,
	.horizontal-process-builder ul li:hover i {
		border-color: #fff;
		color: #fff; 
	}
	
	/* Vertical Process Builder */
	
	.vertical-process-builder h3 a {
		color: #6eaad2;
	}
	
	.vertical-process-builder li:after {
		border-left: 1px solid #eaeaea;
	}
	
	.vertical-process-builder li h1,
	.vertical-process-builder li i {
		background-color: #6eaad2;
		color: #fff; 
	}
	
	.vertical-process-builder li:hover h1,
	.vertical-process-builder li:hover i { background-color: #9e679e; }

/* ==========================================================================
   #Pricing Tables
   ========================================================================== */

	.pricing-table {
		border: 1px solid #adadad;
	}
	
	.pricing-table-header h1 {
		color: #d9a9bf;
	}
	
	.pricing-table-offer ul li { 
		border-top: 1px solid #c2c2c2; 
	}
	
	.pricing-table.alt .pricing-table-header {
		background: #6eaad2;
	}
	
	.pricing-table.alt .pricing-table-header > div {
		border: 1px solid #fff;
	}
	
	.pricing-table.alt .pricing-table-header h1,
	.pricing-table.alt .pricing-table-header i { color: #fff; }

/* ==========================================================================
   #ProgressBars
   ========================================================================== */
	
	.progress-bar {
		background-color: #dbdbdb;
	}
	
	.progress-bar .progress-bar-outer {
		background: #6eaad2;
	}

/* ==========================================================================
   #SocialMedia
   ========================================================================== */

	a.social-icon {
		color: #5f5f5f;
	}
	
	a.social-icon:hover {
		color: #fff;
	}
	
	a.facebook-icon:hover { background-color: #0e59a0 !important; }
	a.twitter-icon:hover { background-color: #0ea4ff !important; }
	a.dribble-icon:hover { background-color: #ea73a0 !important; }
	a.pinterest-icon:hover { background-color: #d73532 !important; }
	a.googleplus-icon:hover { background-color: #282927 !important; }
	a.tumblr-icon:hover { background-color: #586980 !important; }
	a.instagram-icon:hover { background-color: #82685a !important; }
	a.rss-icon:hover { background-color: #f79638 !important; }
	a.linkedin-icon:hover { background-color: #018faf !important; }
	a.skype-icon:hover { background-color: #00b0f6 !important; }
	a.flickr-icon:hover { background-color: #0061db !important; }
	a.vimeo-icon:hover { background-color: #63879c !important; }
	a.github-icon:hover { background-color: #3b3b3b !important; }
	a.youtube-icon:hover { background-color: #cc181e !important; }
	a.windows-icon:hover { background-color: #6dc2e9 !important; }
	a.dropbox-icon:hover { background-color: #007ee5 !important; }
	a.xing-icon:hover { background-color: #026566 !important; }	
	a.adn-icon:hover { background-color: #1ea076 !important; }
	a.android-icon:hover { background-color: #98cb02 !important; }
	a.apple-icon:hover { background-color: #000000 !important; }
	a.behance-icon:hover { background-color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { background-color: #214f81 !important; }
	a.bitcoin-icon:hover { background-color: #f7931b !important; }
	a.codepen-icon:hover { background-color: #000000 !important; }
	a.css3-icon:hover { background-color: #3289ce !important; }
	a.delicious-icon:hover { background-color: #3399fe !important; }
	a.deviantart-icon:hover { background-color: #c8da30 !important; }
	a.digg-icon:hover { background-color: #0080c2 !important; }
	a.drupal-icon:hover { background-color: #0077b9 !important; }
	a.empire-icon:hover { background-color: #000000 !important; }
	a.foursquare-icon:hover { background-color: #daecb0 !important; }
	a.git-icon:hover { background-color: #f34f29 !important; }
	a.gittip-icon:hover { background-color: #634c3e !important; }
	a.hacker-news-icon:hover { background-color: #f18642 !important; }
	a.html5-icon:hover { background-color: #e54c1f !important; }
	a.joomla-icon:hover { background-color: #016fb9 !important; }
	a.jsfiddle-icon:hover { background-color: #4679a4 !important; }
	a.linux-icon:hover { background-color: #fece0e !important; }
	a.maxcdn-icon:hover { background-color: #f36f20 !important; }
	a.openid-icon:hover { background-color: #fe6101 !important; }
	a.pagelines-icon:hover { background-color: #3783e3 !important; }
	a.pied-piper-icon:hover { background-color: #0c7b48 !important; }
	a.qq-icon:hover { background-color: #23286c !important; }
	a.rebel-icon:hover { background-color: #000000 !important; }
	a.reddit-icon:hover { background-color: #cee3f8 !important; }
	a.renren-icon:hover { background-color: #0d81e4 !important; }
	a.share-icon:hover { background-color: #252525 !important; }
	a.slack-icon:hover { background-color: #453744 !important; }
	a.soundcloud-icon:hover { background-color: #fe4e00 !important; }
	a.spotify-icon:hover { background-color: #80bb41 !important; }
	a.stack-exchange-icon:hover { background-color: #265a93 !important; }
	a.stackoverflow-icon:hover { background-color: #fea501 !important; }
	a.steam-icon:hover { background-color: #191919 !important; }
	a.stumbleupon-icon:hover { background-color: #f04f23 !important; }
	a.tencent-weibo-icon:hover { background-color: #0063a7 !important; }
	a.trello-icon:hover { background-color: #226784 !important; }
	a.vine-icon:hover { background-color: #00b081 !important; }
	a.vk-icon:hover { background-color: #50769d !important; }
	a.wechat-icon:hover { background-color: #a4dc31 !important; }
	a.weibo-icon:hover { background-color: #d82828 !important; }
	a.wordpress-icon:hover { background-color: #454442 !important; }
	a.yahoo-icon:hover { background-color: #4b04a8 !important; }

/* ==========================================================================
   #Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #acacac; 
	}
	
	.table-bordered th { border-left: 1px solid #fff; } 
	.table-bordered td { border-left: 1px solid #acacac; }

	@media (max-width: 480px) {

		tr { border-top: 2px solid #acacac; }
	  
	}

/* ==========================================================================
   #Tabs
   ========================================================================== */

	/* Horizontal tabs */

	.tabs-container .tabs-menu { 
		border-bottom: 1px solid #6eaad2;
	}
	
	.tabs-container .tabs-menu li a { 
		border: 1px solid #acacac;
		color: #5e5e5e;
	}
	
	.tabs-container .tabs-menu li a:hover,
	.tabs-container .tabs-menu li.active a {
		border: 1px solid #6eaad2;
		border-bottom: 1px solid #fff;
		color: #6eaad2; 
	}
	
	.tabs-container.alt .tabs-menu li a {
		border-bottom: 1px solid #acacac;
	}
	
	.tabs-container.alt .tabs-menu li a:hover,
	.tabs-container.alt .tabs-menu li.active a {
		border-bottom-color: #6eaad2;
		background-color: #6eaad2;
		color: #fff; 
	}
	
	/* Vertical tabs */
	
	.vertical-tabs-container {
		border: 1px solid #acacac;
	}
	
	.vertical-tabs-container .tabs-menu li a { 
		border-right: 1px solid #acacac;	
		border-bottom: 1px solid #acacac;
		color: #5e5e5e;
	}
	
	.vertical-tabs-container .tabs-menu li a:hover,
	.vertical-tabs-container .tabs-menu li.active a {
		border-right-color: #fff;
		background-color: #6eaad2;
		color: #fff;
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu li a { 
			border: 1px solid #acacac;
		}
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #acacac; }
		
		.tabs-container .tabs-menu li.active a {  
			border-bottom-color: #6eaad2;
		}
		
		.tabs-container .tabs-menu li.active:first-child a { border-top-color: #6eaad2; }
	  
	}
	
/* ==========================================================================
   #Testimonials
   ========================================================================== */

	.testimonial {
		border-top: 1px solid #aeaeae;
		border-bottom: 1px solid #aeaeae;
	}
	
	.testimonial-author {
		background: #fdf7f9;
		background: linear-gradient(105deg, #fdf7f9 30%, #decabf);
		background: -webkit-linear-gradient(105deg, #fdf7f9 30%, #decabf);
	}
	
	.testimonial-author img {
		border: 2px solid #fff;
	}
	
/* ==========================================================================
   #WordPress Widgets
   ========================================================================== */
	
	/* WordPress Widget Defaults */
	
	.alternative #footer-middle .widget-title { color: #fff; }
	
	/* Search Widget */
	
	#searchsubmit {
		background: url(../../images/bg-search.png) no-repeat center center;
	}

	/* Recent Entries Widget */
	
	.widget_recent_entries ul li img {
		border: 7px solid #cfd4d3;
	}
	
	.widget_recent_entries ul li a {
		color: #6eaad2;
	}
	
	/* Pages Widget */
	
	.widget_pages ul li { border-bottom: 1px solid #d7d7d7; } 
	
	.widget_pages a {
		color: #5e5e5e;
	}
	
	.widget_pages a:before {
		color: #6eaad2;
	}
	
	/* Archive Widget */
	
	.widget_archive ul li { border-bottom: 1px solid #d7d7d7; } 
	
	.widget_archive a {
		color: #5e5e5e;
	}
	
	.widget_archive a:before {
		color: #6eaad2;
	}
	
	/* Categories Widget */
	
	.widget_categories ul li { border-bottom: 1px solid #d7d7d7; } 
	
	.widget_categories a {
		color: #5e5e5e;
	}
	
	.widget_categories a:before {
		color: #6eaad2;
	}
	
	/* Meta Widget */
	
	.widget_meta ul li { border-bottom: 1px solid #d7d7d7; } 
	
	.widget_meta a {
		color: #5e5e5e;
	}
	
	.widget_meta a:before {
		color: #6eaad2;
	}
	
	/* Recent Comments Widget */
	
	#recentcomments li a { color: #6eaad2; }
	
	/* Tag Cloud Widget  */
	
	.widget_tag_cloud a {
		border: 1px solid #cecece;
		color: #5e5e5e;
	}
	
	/* Calendar Widget */
	
	#wp-calendar #prev a,
	#wp-calendar #next a { color: #5e5e5e; }
	
	/* Custom Menu Widget */
	
	.widget_nav_menu .menu li { border-bottom: 1px solid #d7d7d7; } 
	
	.widget_nav_menu .menu li a {
		color: #5e5e5e;
	}
	
	.widget_nav_menu .menu li a:before {
		color: #6eaad2;
	}
	
	/* RSS Widget */
	
	.widget_rss a { color: #5e5e5e; }
	
	/* EWF Navigation */
	
	.ewf_widget_navigation ul li { border-bottom: 1px solid #d7d7d7; } 
	
	.ewf_widget_navigation a {
		color: #5e5e5e;
	}
	
	.ewf_widget_navigation a:before {
		color: #6eaad2;
	}

	/* Custom - Twitter Widget */
	
	.ewf_widget_twitter a { color: #5e5e5e; }
	
	/* Custom - Popular Posts Widget */	
	
	.ewf_widget_popular_posts ul li a { 
		color: #5e5e5e;
	}
	
	.ewf_widget_popular_posts ul li span { color: #6eaad2; }
	
	/* Custom - Contact Info Widget */	
	
	.ewf_widget_contact_info ul li i {
		color: #6eaad2; 
	}
	
	.ewf_widget_contact_info ul li a { color: #5e5e5e; }
	
	#header-top .ewf_widget_contact_info ul li i,
	#header-top .ewf_widget_contact_info ul li a { color: #fff; }
	
	/* Custom - Newsletter Subscribe Widget */
	
	#footer-top #newsletter-subscribe-form input[type="text"] {
		border-color: #fff;
		color: #fff;
	}
	
	#footer-top #newsletter-subscribe-form input[type="submit"] {
		border-color: #fff;
		background-color: #fff;
	}
	
	#footer-top #newsletter-subscribe-form input[type="submit"]:hover {
		background: #9a6e7f; 
		color: #fff;
	}
	
	/* Custom - Social Media Widget */
	
	#header-top .ewf_widget_social_media a.social-icon { color: #fff; }
	
	/* Custom - Related Posts Widget */
	
	.widget_related_posts ul {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	.widget_related_posts ul li {
		color: #6eaad2;
	}
	
	.widget_related_posts ul li a { color: #5e5e5e; }

/* ==========================================================================
   #WordPress Comments
   ========================================================================== */
	
	.commentlist .reply a { 
		color: #6eaad2;
	}
	
	.commentlist .vcard cite.fn a.url {
		color: #5e5e5e;
	}
	
	.commentlist .comment-meta a {
		color: #5e5e5e;
	}
	
/* ==========================================================================
   #WordPress Comment Form
   ========================================================================== */	

	/* Comment Form */
	
	#commentform label i {
		color: #6eaad2;
	}
	
	/* Submit button. */
	
	#commentform #submit {
		padding: 10px 50px;
		border: none;
		background-color: #6eaad2;
		color: #fff;
	}
	
	#commentform #submit:hover { background-color: #9a6e7f; }
	
/* ==========================================================================
   #Alternative Header
   ========================================================================== */

	#header-top {
		background-color: rgba(255, 255, 255, 0.5);
	}
	
	#header-top .ewf_widget_contact_info ul li i {
		background-color: #6eaad2;
	}
	
	#header {
		background-color: rgba(255, 255, 255, 0.3);
	}
	
	.sf-menu > li > a, 
	.sf-menu > li.dropdown > a { color: #fff; }
	
	.sf-menu > li.current > a span, 
	.sf-menu > li.current > a:hover span {
		border-bottom: 1px solid #6eaad2;
		color: #6eaad2;
	}
	
	#custom-search-form #s { background-color: transparent; }
	#custom-search-form #s.open { background-color: #fff; }
	
	@media (min-width: 1024px) {
		
		#header.stuck .sf-menu > li > a, 
		#header.stuck .sf-menu > li.dropdown > a { color: #5e5e5e; }
		
	}
	
/* ==========================================================================
   #General Layout 
   ========================================================================== */

	#wrap {
		background-color: #fff;
	}
	
/* #Header
   ========================================================================== */	
   	
	#header-top {
		background-color: #6eaad2;
		color: #fff;
	}
	
	#header-top h1,
	#header-top h2,
	#header-top h3,
	#header-top h4,
	#header-top h5,
	#header-top h6 { color: #fff; }
	
	@media (min-width: 1024px) {
		
		#header.stuck {
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
			background: none repeat scroll 0 0 #fff !important;
		}
		
	}

	/* Menu Skin */
	
	.sf-menu a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		color: #5e5e5e; 
	}
	
	.sf-menu > li > a,
	.sf-menu > li.dropdown > a {
		color: #5e5e5e;
	}
	
	.sf-menu > li.current > a,
	.sf-menu li.sfHover > a,
	.sf-menu a:hover,
	.sf-menu li.sfHover a:hover {
		color: #000;	
	}
	
	.sf-menu > li.current > a span,
	.sf-menu > li.current > a:hover span {
		background-color: #6eaad2;
		color: #fff;
	}
	
	.sf-menu li.dropdown ul {
		border: 1px solid rgba(0, 0, 0, 0.1);	
		background-color: #fff;			
	}	
	
	.sf-menu > li.dropdown ul li a:hover { color: #6eaad2; }
		
	/* mega menu dropdown */
	
	.sf-mega {
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}
	
	.sf-mega-section {
		border-right: 1px solid #efefef;
	}

	/* arrows */
	
	/* styling for both css and generated arrows */
	
	.sf-arrows .sf-with-ul:after {
		border: 5px solid transparent;
		border-top-color: rgba(0, 0, 0, 0.5);
	}
		
	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after {
		border-top-color: rgba(0, 0, 0, 0.7); 
	}
	
	/* styling for right-facing arrows */
	
	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: rgba(0 ,0, 0, 0.5);
	}
	
	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after {
		border-left-color: rgba(0, 0, 0, 0.7);
	}
	
	/* Mobile Menu  */
			
	#mobile-menu {
		border-bottom: 1px solid #efefef;
	}

	#mobile-menu li a {
		border-top: 1px solid #efefef;
		color: #333;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow {
		border-left: 1px solid #efefef;
		color: #333;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { 
		background-color: #6eaad2;
		color: #fff;
	}
	
	/* Mobile menu trigger  */
				
	#mobile-menu-trigger {
		color: #6eaad2;
	}				

	/* Custom Search Form */
	
	#custom-search-form #s {
		background: #fff url(../../images/bg-search-2.png) no-repeat 6px 10px;
	    color: #333;
	   
	}
	
	#custom-search-form #s.open {
	    border: 1px solid #999;
	}
	
	
/* #Content
   ========================================================================== */

	/* Page Header */
	
	#page-header {
		border-top: 1px solid #6eaad2;
		border-bottom: 1px solid #6eaad2;
	}
	
	#page-header i {
		background-color: #6eaad2;
		color: #fff;
	}
	
	.bordered {
		border: 1px solid #d7d7d7;
	}
			
/* #Footer
   ========================================================================== */		
	
	#footer-top {
		background-color: #6eaad2;
		color: #fff;
	}
	
	#footer-top h1,
	#footer-top h2,
	#footer-top h3,
	#footer-top h4,
	#footer-top h5,
	#footer-top h6 { color: #fff; }
	
	#footer-middle {
		background-color: #ebebeb; 
	}
	
	#footer-bottom {
		background-color: #c2c2c2; 
	}
	
	.alternative #footer-middle { 
		background-color: #1d1d1d; 
		color: #fff;	
	}
	
	.alternative #footer-middle a { color: #fff; }
	
	.alternative #footer-bottom { 
		background-color: #181818;
		color: #6eaad2;
	}
	
	.alternative #footer-bottom a { color: #6eaad2; }
			
/* ==========================================================================
   #Page Styles
   ========================================================================== */
   
/* #Index
   ========================================================================== */
	
	/* Testimonial Slider 2 */
	
	.testimonial-slider-2 {
		background-color: #6eaad2;
		color: #fff;
	}
	
	.testimonial-slider-2 blockquote h3 {
		color: #fff;
	}
	
	.testimonial-slider-2 blockquote h3 span {
		color: #fff;
	}
   
/* #About
   ========================================================================== */
   
   	/* Team member */
	
	.team-member {
		background: url(../../images/bg-team-member.png) no-repeat center center;
		color: #fff;
	}
	
	.team-member h1 {
		color: #fff;
	}
	
	.team-member h3 {
		color: #fff;
	}
	
	.team-member img {
		border: 2px solid #fff;
	}
	
	.team-member .social-media {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}
	
	.team-member .social-media a.social-icon {
		color: #fff;
	}
	
	.team-member:hover { background: url(../../images/bg-team-member-hover.png) no-repeat center center; }
	
	.team-member.alt {
		border: 1px solid #959595;
		background: transparent;
		color: #5e5e5e; 
	}
	
	.team-member.alt .social-media { border-color: #959595;  }
	
	.team-member.alt h1,
	.team-member.alt h3,
	.team-member.alt .social-media a.social-icon { color: #5e5e5e; }
	
	.team-member.alt:hover { 
		background-color: #6eaad2;
		color: #fff;
	}
	
	.team-member.alt:hover .social-media { border-color: #fff;  }
	
	.team-member.alt:hover h1,
	.team-member.alt:hover h3,
	.team-member.alt:hover .social-media a.social-icon { color: #fff; }
      
/* #Portfolio
   ========================================================================== */
   
   	/* Portfolio Strip */
	
	.portfolio-strip.border {
		border-top: 15px solid #6eaad2; 
	}
   
    /* Portfolio Item */
		
	.portfolio-item-overlay {
		background-color: rgba(255, 255, 255, 0.8);
	}
			
	.portfolio-item-overlay-actions .portfolio-item-zoom,
	.portfolio-item-overlay-actions .portfolio-item-link {
		border: 1px solid #5e5e5e;
		color: #5e5e5e;
	}
	
	.portfolio-item-overlay-actions .portfolio-item-zoom:hover,
	.portfolio-item-overlay-actions .portfolio-item-link:hover {
		background-color: #5e5e5e;
		color: #fff;
	}
					
	.portfolio-item-description { 
		color: #fff;
	}
	
	.portfolio-grid .portfolio-item-description {
		background-color: #fff;
	}
	
	.portfolio-grid .portfolio-item-description a { color: #5e5e5e; }
	
	.portfolio-grid .portfolio-item:hover .portfolio-item-description { background-color: #6eaad2; }
	.portfolio-grid .portfolio-item:hover .portfolio-item-description .text-highlight { color: #fff; }
	.portfolio-grid .portfolio-item:hover .portfolio-item-description a { color: #fff; }
	
	.portfolio-item-2 h3 a { color: #5e5e5e; }
	
	.portfolio-item-2 .portfolio-item-overlay { 
		background-color: rgba(255, 255, 255, 0.8);
	}
				
	/* Portfolio Pagination */

	.pagination a { 
		border: 1px solid #acacac;
		color: #5e5e5e;
	}
	
	.pagination li.current a,
	.pagination li a:hover 	{
		border-color: #6eaad2;
		color: #6eaad2;  
	}

	/* Portfolio filter */
	
	.portfolio-filter ul li a {
		border: 1px solid #c2c2c2;
		color: #5e5e5e;
	}
	
	.portfolio-filter ul li a:hover,
	.portfolio-filter ul li a.active {
		border-color: #6eaad2;
		background-color: #6eaad2;
		color: #fff; 
	}	
	
/* #Blog
   ========================================================================== */
   
	/* Blog Post */
	
	.blog-post-title h2 a { color: #5e5e5e; }
	
	.blog-post-title h3 {
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	
	.blog-post-title h3 a {
		color: #6eaad2;
	}
	
	.blog-post-title p i {
		color: #6eaad2; 	
	}
	
	.blog-post-title p a {
		color: #5e5e5e;
	}
   
/* #Contact
   ========================================================================== */
   
	/* Contact Form */
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border :1px solid #e1a1a1; }
	
	label.validation-error { 
		color: #b55454;
	} 
	
	#contact-form label i {
		color: #6eaad2;
	}
	
/* #Page 404
   ========================================================================== */
 	
	h1.error {
		color: #8e71b5;
	}
	
/* ==========================================================================
   #Responsive
   ========================================================================== */
	
/* #Mobile (Portrait and Landscape )
   ========================================================================== */
	
	@media (max-width: 767px) {
	
		body { 
			background-color: #fff; 
		}
		
		#wrap { border-top: 5px solid #6eaad2; }
		
	}
		
/* ==========================================================================
   #BxSlider
   ========================================================================== */
   
/* #LOADER
   ========================================================================== */

	.bx-wrapper .bx-loading {
		background: url(../../js/bxslider/images/bx_loader.gif) center center no-repeat #fff;
	}

/* #PAGER
   ========================================================================== */

	.bx-wrapper .bx-pager {
		color: #666;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		background: #d7d7d7;
	}
	
	.testimonial-slider .bx-wrapper .bx-pager.bx-default-pager a { background: #fff; }
	
	.text-slider .bx-wrapper .bx-pager.bx-default-pager a,
	.images-slider .bx-wrapper .bx-pager.bx-default-pager a,
	.services-slider .bx-wrapper .bx-pager.bx-default-pager a {
		border: 1px solid #6eaad2;
		background-color: transparent;
	}
	
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #6eaad2;
	}
	
/* #DIRECTION CONTROLS (NEXT / PREV
   ========================================================================== */

	.bx-wrapper .bx-prev {
		background: url(../../images/prev.png) no-repeat center left;
	}
	
	.bx-wrapper .bx-next {
		background: url(../../images/next.png) no-repeat center right;
	}

/* #AUTO CONTROLS (START / STOP)
   ========================================================================== */
   
	.bx-wrapper .bx-controls-auto .bx-start {
		background: url(../../js/bxslider/images/controls.png) -86px -11px no-repeat;
	}
	
	.bx-wrapper .bx-controls-auto .bx-stop {
		background: url(../../js/bxslider/images/controls.png) -86px -44px no-repeat;
	}

/* #IMAGE CAPTIONS
   ========================================================================== */

	.bx-wrapper .bx-caption {
		background: rgba(80, 80, 80, 0.75);
	}
	
	.bx-wrapper .bx-caption span {
		color: #fff;
	}

/* #SLIDE TEXT
   ========================================================================== */

	.slidetext {
		background-color: rgba(0, 0, 0, 0.5);
		color: #aeb0b3;
	}
	
	.slidetext h2, 
	.slidetext h3 {
		color: #ffffff;
	}
	
	.slidetext a, 
	.slidetext h2 a, 
	.slidetext h3 a {
		color: #ffffff;
	}
	
	.slider-controls li a .overlay {
		background-color: rgba(255, 255, 255, 0.6);
	}
	
	#thumbnails a.active { border: 5px solid #6eaad2; }
	
/* ==========================================================================
   #Revolution Slider
   ========================================================================== */
	
	.fullwidthbanner-container {
		background-color: #ebebeb;
	}
	
	.caption.icon {
		background-color: #6eaad2;
		color: #fff;
	}
	
	.caption.text {
		background-color: rgba(255, 255, 255, 0.25);
		color: #fff;
	}
	
	.caption.text:before {
		border-top: 8px solid transparent; 
		border-left: 15px solid rgba(255, 255, 255, 0.25); 
		border-bottom: 8px solid transparent;
	}
	
	.caption.text h2 {
		color: #fff;
	}
	
	.caption.item-list { color: #fff; }
	
	.caption.item-list:after {
		border-left: 1px solid #fff;
	}
	
	.caption.item-list.alt:before {
		border: 1px solid #fff;
	}
	
	.caption.title {
		color: #fff;
	}
	
	.caption.text-2 {
		color: #fff;
	}
	
	.caption .btn,
	.caption .btn:hover {
		border-color: #fff;
		color: #fff;
	}
	
	.caption .btn i { 
		color: #fff;
	}
	
	.fullwidthbanner-2 .caption.title {
		color: #5e5e5e;
	}
	
	.fullwidthbanner-2 .caption.text-2 {
		color: #5e5e5e; 
	}
	
	.fullwidthbanner-2 .caption.text {
		background-color: #6eaad2;
	}
	
	.fullwidthbanner-2 .caption.text.alt {
		background-color: #96b6d4;
	}
	
	.tp-leftarrow.default { background: url(../../images/prev-2.png) no-repeat center center; }
	.tp-rightarrow.default { background: url(../../images/next-2.png) no-repeat center center; }
	
	.tp-bullets.simplebullets.round .bullet {
		border: 1px solid #6eaad2;
		background: transparent;
	}
	
	.tp-bullets.simplebullets.round .bullet.selected,
	.tp-bullets.simplebullets.round .bullet:hover { background-color: #6eaad2; }